
.img1 {
    border-radius: 50%;
    width: 90%;
    height: 200px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}
/* Making the flex box */

.left {
    width:25%;
    background-color: grey;
}
/* left flexbox takes up 25% of the whole container */

.right {
    margin-left: 50px;
    width: 90%;
}
/* right flexbox takes up 90% of the whole container */

.head {
    font-family: 'Akshar', sans-serif;
}
/* Using google fonts which are linked in the head of the html file */

a:link, a:visited {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:active, a:focus {
    text-decoration: none;
}
/* Styling the links at different points in time (pseudo) */

.head2 {
    background-color: rgb(103, 93, 93);
    color: white;
    font-family: 'Akshar', sans-serif;
}

.contact {
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
}

.content {
    font-family: 'Quicksand', sans-serif;
}

time {
    font-family: 'Courier New', Courier, monospace;
}