.img1 {
    border-radius: 50%;
    width: 90%;
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
}
/* flex box */

.left {
    width:25%;
    background-color: grey;
    text-align: center;
}

.right {
    margin-left: 50px;
    width: 90%;
}

.head {
    font-family: 'Akshar', sans-serif;
}

.list {
    text-align: left;
}

a:link, a:visited {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:active, a:focus {
    text-decoration: none;
}
/* link styling */

.head2 {
    background-color: rgb(103, 93, 93);
    color: white;
    font-family: 'Akshar', sans-serif;
}

.contact {
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
}

.content {
    font-family: 'Quicksand', sans-serif;
}

time {
    font-family: 'Courier New', Courier, monospace;
}

.darkMode {
    background-color: black;
    color: white;
}
/* Styling for dark mode initiated by the button click and function call */

#btn {
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    border: 2px solid grey; 
    border-radius: 10%;
}

#btn:hover {
    background-color: grey;
}

#btn:active {
    background-color: grey;
    transform: translateY(2px);
}
/* styling of the button to create dark mode */

.darkBtn {
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    border: 2px solid black; 
    border-radius: 10%;
    color: white;
    background-color: black;
}
/* styling of the button during dark mode - toggles between this and above style */

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* creating the flex wrap so the two sections are one ontop of each other on smaller devices */
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }

    .img1 {
        max-width: 200px;
    }
    /* altering tyhe image size on smaller devices */
    body {
        font-size: 13px;
    }
    /* altering the font size on smaller devices */
    #btn {
        position: relative;
        top: 5px;
    }
    /* Moving the dark mode button on smaller devices */
}
/* media quesries to create a responsive webpage that looks good on mobile and desktop  */
/* This is desktop first development as the media query alters the webpage for smaller devices. */