.img1 {
    border-radius: 50%;
    width: 90%;
    height: 200px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
    width:25%;
    background-color: grey;
    text-align: center;
}

.right {
    margin-left: 50px;
    width: 90%;
}

.head {
    font-family: 'Akshar', sans-serif;
}

a:link, a:visited {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:active, a:focus {
    text-decoration: none;
}

.head2 {
    background-color: rgb(103, 93, 93);
    color: white;
    font-family: 'Akshar', sans-serif;
}

.contact {
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
}

.content {
    font-family: 'Quicksand', sans-serif;
}

time {
    font-family: 'Courier New', Courier, monospace;
}


@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }

    .img1 {
        max-width: 200px;
    }
}